body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 2px solid darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
    border: 1px solid lightgray;
    padding: 10px 20px;
    text-align: center;
}